@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.pinkGradient {
    background: linear-gradient(180deg, #E0CEFF 0%, rgba(196, 196, 196, 0) 100%);
}

body{
    overflow-x: hidden;
}

.orangeHoverUnderline{
    margin-left: -10px;
    border:2px solid white;
    padding:10px;
    transition:0.25s;
    border-radius: 10px;
}
.orangeHoverUnderline:hover{
    border: 2px solid #FF5D22;
  
}